Node-red/Servidor_Calidad_aire.txt
[{"id":"baf6d7e.370b528","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a0016848.8b38d8","type":"mqtt in","z":"baf6d7e.370b528","name":"","topic":"aire/1C","qos":"0","datatype":"auto","broker":"21d32e46.f19f62","inputs":0,"x":180,"y":100,"wires":[["d217b21f.98901","88db29bd.8edbd8"]]},{"id":"d217b21f.98901","type":"debug","z":"baf6d7e.370b528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"88db29bd.8edbd8","type":"json","z":"baf6d7e.370b528","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":240,"wires":[["2032f4d9.1d866c","b3f8b220.ce9","2b74a95a.9b26e6","59f2b390.44e7fc","c4f7aa98.dea958","255ec41e.04fdec"]]},{"id":"2032f4d9.1d866c","type":"debug","z":"baf6d7e.370b528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":160,"wires":[]},{"id":"b3f8b220.ce9","type":"ui_gauge","z":"baf6d7e.370b528","name":"","group":"57e89fdc.43d9e","order":1,"width":"0","height":"0","gtype":"donut","title":"<i class=\"fa fa-thermometer-half \" aria-hidden=\"true\"></i> Taller 1C","label":"ºC","format":"{{msg.payload.Temperatura}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","className":"","x":800,"y":220,"wires":[]},{"id":"2b74a95a.9b26e6","type":"ui_gauge","z":"baf6d7e.370b528","name":"","group":"f86fb15c.0a019","order":1,"width":0,"height":0,"gtype":"wave","title":"<i class=\"fa fa-umbrella\" aria-hidden=\"true\"></i> Taller 1C","label":"%","format":"{{msg.payload.Humedad}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":770,"y":260,"wires":[]},{"id":"59f2b390.44e7fc","type":"ui_level","z":"baf6d7e.370b528","group":"e8850d8a.88169","order":1,"width":"6","height":"1","name":"","label":" Taller 1C","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5000","segWarn":"1000","segHigh":"2000","unit":"ppm","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"reactive","shape":"3","colorschema":"rainbow","textoptions":"custom","colorText":"#eeeeee","fontLabel":"1","fontValue":"1.5","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.CO2","peaktime":3000,"x":610,"y":300,"wires":[]},{"id":"c4f7aa98.dea958","type":"ui_level","z":"baf6d7e.370b528","group":"cf7142e7.7863a","order":1,"width":"6","height":"1","name":"","label":"Taller 1C","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"35","segWarn":"8","segHigh":"25","unit":"ppm","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"reactive","shape":"3","colorschema":"rainbow","textoptions":"custom","colorText":"#eeeeee","fontLabel":"1","fontValue":"1.5","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.CO","peaktime":3000,"x":610,"y":380,"wires":[]},{"id":"255ec41e.04fdec","type":"function","z":"baf6d7e.370b528","name":"","func":"var msg1 = { payload:msg.payload.Part1 };\nvar msg2 = { payload:msg.payload.Part25 };\nvar msg3 = { payload:msg.payload.Part10 };\n\nreturn  [ msg1, msg2, msg3 ];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":380,"y":420,"wires":[["541c6e7e.86d9b"],["76e961da.ec236"],["5c12bb79.432ca4"]]},{"id":"541c6e7e.86d9b","type":"ui_artlessgauge","z":"baf6d7e.370b528","group":"819001a2.9ce2d","order":1,"width":0,"height":0,"name":"","icon":"","label":"PM1","unit":"ug/m3","layout":"linear","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":20,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":660,"y":460,"wires":[]},{"id":"76e961da.ec236","type":"ui_artlessgauge","z":"baf6d7e.370b528","group":"819001a2.9ce2d","order":2,"width":0,"height":0,"name":"","icon":"","label":"PM2.5","unit":"ug/m3","layout":"linear","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#3b68b0","t":"min","dot":0},{"val":10,"col":"#3b68b0","t":"max","dot":0}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":660,"y":520,"wires":[]},{"id":"5c12bb79.432ca4","type":"ui_artlessgauge","z":"baf6d7e.370b528","group":"819001a2.9ce2d","order":3,"width":0,"height":0,"name":"","icon":"","label":"PM10","unit":"ug/m3","layout":"linear","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#20832b","t":"min","dot":0},{"val":10,"col":"#20832b","t":"max","dot":0}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":660,"y":580,"wires":[]},{"id":"21d32e46.f19f62","type":"mqtt-broker","name":"pc","broker":"192.168.1.22","port":"1883","clientid":"node","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57e89fdc.43d9e","type":"ui_group","name":"Temperaturas","tab":"a5c3b771.b035f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f86fb15c.0a019","type":"ui_group","name":"Humedad","tab":"a5c3b771.b035f","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e8850d8a.88169","type":"ui_group","name":"Dioxido de Carbono","tab":"a5c3b771.b035f","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cf7142e7.7863a","type":"ui_group","name":"Monoxido de Carbono","tab":"a5c3b771.b035f","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"819001a2.9ce2d","type":"ui_group","name":"Particulas en Suspensión Taller 1C","tab":"a5c3b771.b035f","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a5c3b771.b035f","type":"ui_tab","name":"Calidad del Aire","icon":"dashboard","disabled":false,"hidden":false,"info":"<script src=\"//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.3.2/svg-morpheus.js\"></script>\r\n"}]